						<link rel="shortcut icon" href="../admin/assets/images/favicon.svg" />

						<!-- *************
			************ CSS Files *************
		************* -->
						<link rel="stylesheet" href="../admin/assets/fonts/bootstrap/bootstrap-icons.css" />
						<link rel="stylesheet" href="../admin/assets/css/main.min.css" />

						<!-- *************
			************ Vendor Css Files *************
		************ -->

						<!-- Scrollbar CSS -->
						<link rel="stylesheet" href="../admin/assets/vendor/overlay-scroll/OverlayScrollbars.min.css" />
						<div class="app-body pt-3 container">

						  <!-- Row start -->
						  <form name="adPrForm" ng-submit="submitForm()" novalidate enctype="multipart/form-data">
						    <div class="mb-3">
						      <label class="form-label">Tên sản phẩm</label>
						      <input type="text" class="form-control" placeholder="Enter fullname product" name="name" ng-model="adpr.name" required ng-blur="checkInput('name')">
						      <div class="text-danger" ng-if="adPrForm.name.$error.required && (adPrForm.name.$dirty || inputsTouched.name)">
						        Vui lòng nhập tên sản phẩm
						      </div>
						    </div>
						    <div class="mb-3">
						      <label class="form-label">Gía sản phẩm</label>
						      <input type="number" class="form-control" placeholder="Enter price product" name="price" ng-model="adpr.price" required ng-blur="checkInput('price')">
						      <div class="text-danger" ng-if="adPrForm.price.$error.required && (adPrForm.price.$dirty || inputsTouched.price)">
						        Vui lòng nhập giá sản phẩm
						      </div>
						    </div>
						    <div class="mb-3">
						      <label class="form-label">Giảm giá</label>
						      <input type="number" class="form-control" placeholder="Enter discount product" name="giamgia" ng-model="adpr.giamgia" required ng-blur="checkInput('giamgia')">
						      <div class="text-danger" ng-if="adPrForm.giamgia.$error.required && (adPrForm.giamgia.$dirty || inputsTouched.giamgia)">
						        Vui lòng nhập giảm giá sản phẩm
						      </div>
						    </div>
						    <div class="mb-3">
						      <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" 
							  ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
							  ngf-resize="{width: 100, height: 100}">Select</div>
						      <div class="text-danger" ng-if="!adpr.image && (adPrForm.image.$dirty || inputsTouched.image)">
						        Vui lòng tải lên hình ảnh sản phẩm
						      </div>
						    </div>
						    <div class="mb-3">
						      <label class="form-label">Mô tả sản phẩm</label>
						      <textarea class="form-control" placeholder="Enter message" rows="3" name="describe" ng-model="describe" required ng-blur="checkInput('describe')"></textarea>
						      <div class="text-danger" ng-if="adPrForm.describe.$error.required && (adPrForm.describe.$dirty || inputsTouched.describe)">
						        Vui lòng nhập mô tả sản phẩm
						      </div>
						    </div>
						    <div class="mb-3">
						      <label class="form-label">Mô tả sản phẩm 2</label>
						      <textarea class="form-control" placeholder="Enter message" rows="3" name="describe2" ng-model="describe2" required ng-blur="checkInput('describe2')"></textarea>
						      <div class="text-danger" ng-if="adPrForm.describe2.$error.required && (adPrForm.describe2.$dirty || inputsTouched.describe2)">
						        Vui lòng nhập mô tả sản phẩm
						      </div>
						    </div>
						    <div class="mb-3 form-check text-center">
						      <button type="submit" class="btn btn-primary" ng-disabled="adPrForm.$invalid">Submit</button>
						    </div>
						  </form>


						  <!-- Row end -->

						  <!-- Row start -->
						  <div class="row">
						    <div class="col-xxl-12">
						      <div class="card shadow mb-4">
						        <div class="card-header">
						          <h5 class="card-title">Chỉnh sửa sản phẩm</h5>
						        </div>
						        <div class="card-body">
						          <!-- Row start -->
						          <div class="row">
						            <div class="col-xxl-12">
						              <div class="bg-light bg-opacity-50 p-3 mb-3 fw-bold">
						                Account Details
						              </div>
						            </div>
						            <div class="col-lg-3 col-sm-4 col-12">
						              <div class="mb-3">
						                <label class="form-label">Name</label>
						                <input type="text" class="form-control" placeholder="Enter fullname" />
						              </div>
						            </div>
						            <div class="col-lg-3 col-sm-4 col-12">
						              <div class="mb-3">
						                <label class="form-label">Email</label>
						                <input type="email" class="form-control" placeholder="Enter email address" />
						              </div>
						            </div>
						            <div class="col-lg-3 col-sm-4 col-12">
						              <div class="mb-3">
						                <label class="form-label">Phone</label>
						                <input type="number" class="form-control" placeholder="Enter phone number" />
						              </div>
						            </div>
						            <div class="col-lg-3 col-sm-4 col-12">
						              <div class="mb-3">
						                <label class="form-label">Company</label>
						                <input type="text" class="form-control" placeholder="Enter company name" />
						              </div>
						            </div>
						          </div>
						          <!-- Row end -->

						          <!-- Row start -->
						          <div class="row">
						            <div class="col-xxl-12">
						              <div class="bg-light bg-opacity-50 p-3 mt-4 mb-3 fw-bold">
						                Business Address
						              </div>
						            </div>
						            <div class="col-lg-3 col-sm-4 col-12">
						              <div class="mb-3">
						                <label class="form-label">Business Address</label>
						                <input type="text" class="form-control" placeholder="Enter business address" />
						              </div>
						            </div>
						            <div class="col-lg-3 col-sm-4 col-12">
						              <div class="mb-3">
						                <label class="form-label">Province/Territory</label>
						                <input type="text" class="form-control" placeholder="Enter province/territory" />
						              </div>
						            </div>
						            <div class="col-lg-3 col-sm-4 col-12">
						              <div class="mb-3">
						                <label class="form-label">Industry Type</label>
						                <select class="form-select">
						                  <option value="0">Select</option>
						                  <option value="1">One</option>
						                </select>
						              </div>
						            </div>
						            <div class="col-lg-3 col-sm-4 col-12">
						              <div class="mb-3">
						                <label class="form-label">Postal Code</label>
						                <input type="number" class="form-control" placeholder="Enter postal code" />
						              </div>
						            </div>
						          </div>
						          <!-- Row end -->

						          <!-- Row start -->
						          <div class="row">
						            <div class="col-xxl-12">
						              <div class="bg-light bg-opacity-50 p-3 mt-4 mb-3 fw-bold">
						                Billing Details
						              </div>
						            </div>
						            <div class="col-lg-4 col-sm-6 col-12">
						              <div class="mb-3">
						                <label class="form-label">Amount</label>
						                <div class="input-group">
						                  <input type="text" class="form-control" />
						                  <span class="input-group-text">$</span>
						                  <span class="input-group-text">0.00</span>
						                </div>
						              </div>
						            </div>

						            <div class="col-lg-4 col-sm-6 col-12">
						              <div class="mb-3">
						                <label class="form-label">Billing Interval</label>
						                <div class="mt-2">
						                  <div class="form-check form-check-inline">
						                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
						                    <label class="form-check-label" for="inlineRadio1">Monthly</label>
						                  </div>
						                  <div class="form-check form-check-inline">
						                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" checked="" />
						                    <label class="form-check-label" for="inlineRadio2">Quatrerly</label>
						                  </div>
						                  <div class="form-check form-check-inline">
						                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" />
						                    <label class="form-check-label" for="inlineRadio3">Yearly</label>
						                  </div>
						                </div>
						              </div>
						            </div>
						          </div>
						          <!-- Row end -->

						          <!-- Row start -->
						          <div class="row">
						            <div class="col-xxl-12">
						              <div class="bg-light bg-opacity-50 p-3 mt-4 mb-3 fw-bold">
						                Communication
						              </div>
						            </div>
						            <div class="col-lg-4 col-sm-6 col-12">
						              <div class="mb-3">
						                <label class="form-label">Communication</label>
						                <div>
						                  <div class="form-check form-check-inline">
						                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
						                    <label class="form-check-label" for="inlineCheckbox1">Email</label>
						                  </div>
						                  <div class="form-check form-check-inline">
						                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" checked="" />
						                    <label class="form-check-label" for="inlineCheckbox2">SMS</label>
						                  </div>
						                  <div class="form-check form-check-inline">
						                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" />
						                    <label class="form-check-label" for="inlineCheckbox3">Phone</label>
						                  </div>
						                </div>
						              </div>
						            </div>
						            <div class="col-sm-6 col-12">
						              <div class="mb-3">
						                <label class="form-label">Message</label>
						                <textarea type="text" class="form-control" placeholder="Enter message" rows="3"></textarea>
						              </div>
						            </div>
						          </div>
						          <!-- Row end -->
						        </div>
						        <div class="card-footer">
						          <div class="d-flex gap-2 justify-content-end">
						            <button type="button" class="btn btn-outline-secondary">
						              Cancel
						            </button>
						            <button type="button" class="btn btn-primary">
						              Submit
						            </button>
						          </div>
						        </div>
						      </div>
						    </div>
						  </div>
						  <!-- Row end -->

						</div>
						<style>
						  .header-menu:after {

						    content: "";
						    width: 0%;
						    position: absolute;
						    left: 0;
						    bottom: -30px;
						    height: 6px;
						    z-index: 20;
						  }

						  .header-menu {
						    display: none;
						  }

						  .app-body {
						    padding: 1.25rem 1.5rem;
						    height: auto;
						    /* overflow: auto; */
						    margin-top: 0rem;
						  }
						</style>
