<section class="content-main pt-2">
  <img class="img-fluid" src="images/slider_1.webp" alt="">
</section>
<div class="container-fluid container-xxl container-xl container-lg container-md container-sm container  mt-5 mb-5">
  <div class="row">
    <div class="img-col col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-2">
      <img src="images/banner-3.webp" alt="">
    </div>
    <div class="img-col col-lg-8 col-md-8 col-sm-12 col-xs-12  mt-2">
      <img src="images/banner-4.webp" alt="">
    </div>
  </div>
</div>
<div class="container-fluid container-xxl container-xl container-lg container-md container-sm container  mt-5 mb-5">
  <div class="row">
    <div class="bg-col col-lg-3 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header">
          <div class="card-header-content">
            <div class="row">
              <div class="col-10">
                DANH MỤC SẢN PHẨM
              </div>
              <div class="col-2">
                <i class="fa-solid fa-plus mo1" onclick="btmo2()"></i>
                <i class="fa-solid fa-minus dong1" onclick="btdong2()"></i>
              </div>
            </div>
          </div>
          <ul class="list-group mt-4" id="menumo2">
            <li class="list-group-item ps-0"> Sản phẩm mới</li>
            <li class="list-group-item ps-0"> Sản phẩm khuyến mãi</li>
            <li class="list-group-item ps-0"> Sản phẩm nổi bật</li>
            <li class="list-group-item ps-0"> Pizza</li>
            <li class="list-group-item ps-0"> Bánh ngọt</li>
            <li class="list-group-item ps-0"> Bánh kem</li>
            <li class="list-group-item ps-0"> Đồ ăn nhẹ</li>
          </ul>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-header">
          <div class="card-header-content">
            SẢN PHẨM KHUYẾN MÃI
          </div>
          <div class="row center-row pt-3 pb-3">
            <div class="col-4">
              <img src="images/pr1.png" alt="">
            </div>
            <div class="col-8 text-end">
              <div class="card-title-sp">
                Pizza phô mai
              </div>
              <div class="card-title-sp">
                250,000 vnd
              </div>
            </div>
          </div>
          <hr>
          <div class="row center-row pt-3 pb-3">
            <div class="col-4">
              <img src="images/pr1.png" alt="">
            </div>
            <div class="col-8 text-end">
              <div class="card-title-sp">
                Pizza phô mai
              </div>
              <div class="card-title-sp">
                250,000 vnd
              </div>
            </div>
          </div>
          <hr>
          <div class="row center-row pt-3 pb-3">
            <div class="col-4">
              <img src="images/pr1.png" alt="">
            </div>
            <div class="col-8 text-end">
              <div class="card-title-sp">
                Pizza phô mai
              </div>
              <div class="card-title-sp">
                250,000 vnd
              </div>
            </div>
          </div>
          <hr>
          <div class="row center-row pt-3 pb-3">
            <div class="col-4">
              <img src="images/pr1.png" alt="">
            </div>
            <div class="col-8 text-end">
              <div class="card-title-sp">
                Pizza phô mai
              </div>
              <div class="card-title-sp">
                250,000 vnd
              </div>
            </div>
          </div>
          <hr>
          <div class="row center-row pt-3 pb-3">
            <div class="col-4">
              <img src="images/pr1.png" alt="">
            </div>
            <div class="col-8 text-end">
              <div class="card-title-sp">
                Pizza phô mai
              </div>
              <div class="card-title-sp">
                250,000 vnd
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="card mt-2">
        <div class="card-header">
          <div class="card-header-content">
            SẢN PHẨM BÁN CHẠY
          </div>
          <div class="row center-row pt-3 pb-3">
            <div class="col-4">
              <img src="images/pr1.png" alt="">
            </div>
            <div class="col-8 text-end">
              <div class="card-title-sp">
                Pizza phô mai
              </div>
              <div class="card-title-sp">
                250,000 vnd
              </div>
            </div>
          </div>
          <div class="row center-row pt-3 pb-3">
            <div class="col-4">
              <img src="images/pr1.png" alt="">
            </div>
            <div class="col-8 text-end">
              <div class="card-title-sp">
                Pizza phô mai
              </div>
              <div class="card-title-sp">
                250,000 vnd
              </div>
            </div>
          </div>
          <div class="row center-row pt-3 pb-3">
            <div class="col-4">
              <img src="images/pr1.png" alt="">
            </div>
            <div class="col-8 text-end">
              <div class="card-title-sp">
                Pizza phô mai
              </div>
              <div class="card-title-sp">
                250,000 vnd
              </div>
            </div>
          </div>
          <div class="row center-row pt-3 pb-3">
            <div class="col-4">
              <img src="images/pr1.png" alt="">
            </div>
            <div class="col-8 text-end">
              <div class="card-title-sp">
                Pizza phô mai
              </div>
              <div class="card-title-sp">
                250,000 vnd
              </div>
            </div>
          </div>
          <div class="row center-row pt-3 pb-3">
            <div class="col-4">
              <img src="images/pr1.png" alt="">
            </div>
            <div class="col-8 text-end">
              <div class="card-title-sp">
                Pizza phô mai
              </div>
              <div class="card-title-sp">
                250,000 vnd
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-col col-lg-9 col-md-12 col-sm-12 col-xs-12">
      <div class="card mt-1">
        <div class="card-header p-1">
          <div class="card-header-content">
            SẢN PHẨM NỔI BẬT
          </div>
          <div class="row mt-4">
            <div ng-repeat="sp in dsSp | limitTo:6" class=" col-4">
              <a href="#!detail/{{sp.id}}" class="text-decoration-none">
                <div class="card text-center hover-card">
                  <img src="{{sp.image}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{sp.price | currency:"":0}}đ</h5>
                    <p class="card-text">{{sp.name | uppercase}}</p>
                  </a>
                    <div class="button-buy">
                      <button ng-click="addToCart(sp)" class="btn btn-primary">Mua Ngay</button>
                    </div>
                  </div>
                </div>

            </div>
            <!-- <div class="col-4">
              <div class="card text-center hover-card">
                <img src="images/pr1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">250,000 VND</h5>
                  <p class="card-text">Pizza nhân bò phô mai</p>
                  <div class="button-buy">
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card text-center hover-card">
                <img src="images/pr1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">250,000 VND</h5>
                  <p class="card-text">Pizza nhân bò phô mai</p>
                  <div class="button-buy">
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          <!-- <div class="row mt-3">
            <div class="col-4">
              <div class="card text-center hover-card">
                <img src="images/pr1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">250,000 VND</h5>
                  <p class="card-text">Pizza nhân bò phô mai</p>
                  <div class="button-buy">
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card text-center hover-card">
                <img src="images/pr1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">250,000 VND</h5>
                  <p class="card-text">Pizza nhân bò phô mai</p>
                  <div class="button-buy">
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card text-center hover-card">
                <img src="images/pr1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">250,000 VND</h5>
                  <p class="card-text">Pizza nhân bò phô mai</p>
                  <div class="button-buy">
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row">
            <img src="images/mid-banner.webp" alt="">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="card-header-content">
            SẢN PHẨM NỔI BẬT
          </div>
          <div class="row mt-4">
            <div ng-repeat="sp in dsSp | orderBy:order | limitTo:limit:begin" class="col-4">
              <div class="card text-center hover-card">
                <img src="{{sp.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{sp.price | currency:"":0}}đ</h5>
                  <p class="card-text">{{sp.name | uppercase}}</p>
                  <div class="button-buy">
                    <a href="#!detail/{{sp.id}}" class="btn btn-primary">Mua Ngay</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <img class="img-fluid" src="images/banner-1.webp" alt="">
            </div>
            <div class="col-6">
              <img class="img-fluid" src="images/banner-2.webp" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-1">
        <div class="card-header">
          <div class="card-header-content">
            SẢN PHẨM NỔI BẬT
          </div>
          <div class="row mt-4">
            <div class="col-4">
              <div class="card text-center hover-card">
                <img src="images/pr1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">250,000 VND</h5>
                  <p class="card-text">Pizza nhân bò phô mai</p>
                  <div class="button-buy">
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card text-center hover-card">
                <img src="images/pr1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">250,000 VND</h5>
                  <p class="card-text">Pizza nhân bò phô mai</p>
                  <div class="button-buy">
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card text-center hover-card">
                <img src="images/pr1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">250,000 VND</h5>
                  <p class="card-text">Pizza nhân bò phô mai</p>
                  <div class="button-buy">
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>