  <section class="content-main">
    <div class="title_full">
      <div class="container a-center">
        <h1 class="title_page">Tin tức</h1>
      </div>
    </div>
  </section>
  <div class="container">
    <ul class="ul-list">
      <li class="list-group-item"><a class="nav-link" href="#">Trang chủ</a></li> /
      <li class="list-group-item"><a class="nav-link" href="#">Tin tức</a></li>
    </ul>
    <hr>
  </div>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="bg-col col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-header">
            <div class="aside-title">
              <h2 class="title-head"><span>Danh mục tin tức</span></h2>
            </div>
            <ul class="list-group mt-4">
              <li class="list-group-item ps-0"> Trang chủ</li>
              <li class="list-group-item ps-0"> Gioi thiệu</li>
              <li class="list-group-item ps-0">
                <div class="row">
                  <div class="col-10">
                    <a class="nav-link" id="toggleLink">Sản phẩm</a>
                  </div>
                  <div class="col-2" id="toggleIcon">
                    <span class="cong" onclick="tocong()">+</span>
                    <span class="tru" onclick="totru()">-</span>
                  </div>
                </div>
                <ul class="drop-bg" id="dropdownMenu2">
                  <li class="list-group-item ps-0">Trang chủ</li>
                  <li class="list-group-item ps-0">Gioi thiệu</li>
                  <li class="list-group-item ps-0">Trang chủ</li>
                  <li class="list-group-item ps-0">Gioi thiệu</li>
                </ul>
              </li>
              <li class="list-group-item ps-0"> Khuyến mại</li>
              <li class="list-group-item ps-0"> Tin tuc</li>
              <li class="list-group-item ps-0"> Liên he</li>
            </ul>
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-header">
            <div class="aside-title">
              <h2 class="title-head"><span>Danh mục blog</span></h2>
            </div>
            <div class="container">
              <ul class="list-group mt-4">
                <li class="list-group-item ps-0"><i class="fa-solid fa-angle-right"></i> Trang chủ</li>
                <li class="list-group-item ps-0"><i class="fa-solid fa-angle-right"></i> Gioi thiệu</li>
                <li class="list-group-item ps-0">
                  <div class="row">
                    <div class="col-10">
                      <a class="nav-link" id="toggleLink"><i class="fa-solid fa-angle-right"></i> Sản phẩm</a>
                    </div>
                    <div class="col-2" id="toggleIcon">
                      <span class="cong" onclick="tocong()">+</span>
                      <span class="tru" onclick="totru()">-</span>
                    </div>
                  </div>
                  <ul class="drop-bg" id="dropdownMenu2">
                    <li class="list-group-item ps-0">Trang chủ</li>
                    <li class="list-group-item ps-0">Gioi thiệu</li>
                    <li class="list-group-item ps-0">Trang chủ</li>
                    <li class="list-group-item ps-0">Gioi thiệu</li>
                  </ul>
                </li>
                <li class="list-group-item ps-0"><i class="fa-solid fa-angle-right"></i> Khuyến mại</li>
                <li class="list-group-item ps-0"><i class="fa-solid fa-angle-right"></i> Tin tuc</li>
              </ul>
            </div>


          </div>
        </div>
        <div class="card mt-2">
          <div class="card-header">
            <div class="aside-title">
              <h2 class="title-head"><span>Tin tức nổi bật</span></h2>
            </div>
            <a href="" class="text-decoration-none">
              <div class="row center-row pt-3 pb-3">
                <div class="col-4">
                  <img src="images/02-blog3.webp" alt="">
                </div>
                <div class="col-8 text-end">
                  <div class="card-title-sp">
                    Cách làm Hamburger bò siêu nhanh cho bữa sáng
                    Cách làm Hamburger bò siêu nhanh cho bữa sáng
                  </div>
                </div>
              </div>
            </a>
            <a href="" class="text-decoration-none">
              <div class="row center-row pt-3 pb-3">
                <div class="col-4">
                  <img src="images/02-bloga.webp" alt="">
                </div>
                <div class="col-8 text-end">
                  <div class="card-title-sp">
                    Cách làm bánh pizza thơm ngon tại nhà
                    Cách làm bánh pizza thơm ngon tại nhà
                  </div>
                </div>
              </div>
            </a>
            <a href="" class="text-decoration-none">
              <div class="row center-row pt-3 pb-3">
                <div class="col-4">
                  <img src="images/cake-pops.webp" alt="">
                </div>
                <div class="col-8 text-end">
                  <div class="card-title-sp">
                    Tận dụng kem bơ làm bánh cà phê ngon tuyệt
                    Tận dụng kem bơ làm bánh cà phê ngon tuyệt
                  </div>
                </div>
              </div>
            </a>
            <a href="" class="text-decoration-none">
              <div class="row center-row pt-3 pb-3">
                <div class="col-4">
                  <img src="images/02-blog1.webp" alt="">
                </div>
                <div class="col-8 text-end">
                  <div class="card-title-sp">
                    Không cần lò nướng, làm bánh cafe ngon tuyệt
                    Không cần lò nướng, làm bánh cafe ngon tuyệt
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="row hidden-md">
          <img src="images/sidebar_banner.webp" alt="">
        </div>
      </div>
      <div class="bg-col col-lg-9 col-md-12 mt-2">
        <div class="container">
          <div class="news">
            <img class="img-fluid" src="images/02-blog3 (1).webp" alt="">
            <div class="title-news">
              <a href="" class="text-decoration-none">
                <h4 class="title-head">Cách làm Hamburger bò siêu nhanh cho bữa sáng</h4>
              </a>
              <p class="content-news">
                Hamburger là món ăn nhanh được rất nhiều bạn trẻ yêu thích hiện nay, vậy chúng ta cùng trổ tài với cách làm Hamburger
                bò tại nhà nào các bạn. Nguyên liệu: - 1 bánh mì tròn -
                300g thịt bò xay - 30g bột chiên xù - 1 lát pho mát - 2...
                <a href="/cach-lam-hamburger-bo-sieu-nhanh-cho-bua-sang" title="Đọc tiếp">[Đọc tiếp]</a>
              </p>
              <div class="sub-news">
                <div class="row">
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <span class="time_post">
                      <span>
                        <i class="fas fa-calendar "></i> 29/01/2016</span>
                      <span><i class="far fa-comment"></i>&nbsp;4</span>
                      <span class="tag-blog"><i class="fas fa-tag"></i> Tags: <a href="/blogs/all/tagged/banh-kem" title="Bánh kem">Bánh kem</a>, <a href="/blogs/all/tagged/banh-pizza" title="Bánh Pizza">Bánh Pizza</a>, <a href="/blogs/all/tagged/hamburger" title="Hamburger">Hamburger</a> </span>
                    </span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="social-sharing">
                      <div class="social-media" data-permalink="https://big-food.mysapo.net/cach-lam-hamburger-bo-sieu-nhanh-cho-bua-sang">
                        <a target="_blank" href="//www.facebook.com/sharer.php?u=https://big-food.mysapo.net/cach-lam-hamburger-bo-sieu-nhanh-cho-bua-sang" class="share-facebook" title="Chia sẻ lên Facebook">
                          <i class="fab fa-facebook"></i>
                        </a>
                        <a target="_blank" href="//twitter.com/share?text=CáchlàmHamburgerbòsiêunhanhchobữasáng&amp;url=https://big-food.mysapo.net/cach-lam-hamburger-bo-sieu-nhanh-cho-bua-sang" class="share-twitter" title="Chia sẻ lên Twitter">
                          <i class="fab fa-twitter"></i>
                        </a>
                        <a target="_blank" href="//pinterest.com/pin/create/button/?url=https://big-food.mysapo.net/cach-lam-hamburger-bo-sieu-nhanh-cho-bua-sang&amp;media=https://bizweb.dktcdn.net/thumb/1024x1024/100/053/643/articles/02-blog3.jpg?v=1454052795640&amp;description=CáchlàmHamburgerbòsiêunhanhchobữasáng" class="share-pinterest" title="Chia sẻ lên pinterest">
                          <i class="fab fa-pinterest"></i>
                        </a>
                        <a target="_blank" href="//plus.google.com/share?url=https://big-food.mysapo.net/cach-lam-hamburger-bo-sieu-nhanh-cho-bua-sang" class="share-google" title="+1">
                          <i class="fab fa-google"></i>
                        </a>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="news">
            <img class="img-fluid" src="images/02-blog3 (1).webp" alt="">
            <div class="title-news">
              <a href="" class="text-decoration-none">
                <h4 class="title-head">Cách làm Hamburger bò siêu nhanh cho bữa sáng</h4>
              </a>
              <p class="content-news">
                Hamburger là món ăn nhanh được rất nhiều bạn trẻ yêu thích hiện nay, vậy chúng ta cùng trổ tài với cách làm Hamburger
                bò tại nhà nào các bạn. Nguyên liệu: - 1 bánh mì tròn -
                300g thịt bò xay - 30g bột chiên xù - 1 lát pho mát - 2...
                <a href="/cach-lam-hamburger-bo-sieu-nhanh-cho-bua-sang" title="Đọc tiếp">[Đọc tiếp]</a>
              </p>
              <div class="sub-news">
                <div class="row">
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <span class="time_post">
                      <span>
                        <i class="fas fa-calendar "></i> 29/01/2016</span>
                      <span><i class="far fa-comment"></i>&nbsp;4</span>
                      <span class="tag-blog"><i class="fas fa-tag"></i> Tags: <a href="/blogs/all/tagged/banh-kem" title="Bánh kem">Bánh kem</a>, <a href="/blogs/all/tagged/banh-pizza" title="Bánh Pizza">Bánh Pizza</a>, <a href="/blogs/all/tagged/hamburger" title="Hamburger">Hamburger</a> </span>
                    </span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="social-sharing">
                      <div class="social-media" data-permalink="https://big-food.mysapo.net/cach-lam-hamburger-bo-sieu-nhanh-cho-bua-sang">
                        <a target="_blank" href="//www.facebook.com/sharer.php?u=https://big-food.mysapo.net/cach-lam-hamburger-bo-sieu-nhanh-cho-bua-sang" class="share-facebook" title="Chia sẻ lên Facebook">
                          <i class="fab fa-facebook"></i>
                        </a>
                        <a target="_blank" href="//twitter.com/share?text=CáchlàmHamburgerbòsiêunhanhchobữasáng&amp;url=https://big-food.mysapo.net/cach-lam-hamburger-bo-sieu-nhanh-cho-bua-sang" class="share-twitter" title="Chia sẻ lên Twitter">
                          <i class="fab fa-twitter"></i>
                        </a>
                        <a target="_blank" href="//pinterest.com/pin/create/button/?url=https://big-food.mysapo.net/cach-lam-hamburger-bo-sieu-nhanh-cho-bua-sang&amp;media=https://bizweb.dktcdn.net/thumb/1024x1024/100/053/643/articles/02-blog3.jpg?v=1454052795640&amp;description=CáchlàmHamburgerbòsiêunhanhchobữasáng" class="share-pinterest" title="Chia sẻ lên pinterest">
                          <i class="fab fa-pinterest"></i>
                        </a>
                        <a target="_blank" href="//plus.google.com/share?url=https://big-food.mysapo.net/cach-lam-hamburger-bo-sieu-nhanh-cho-bua-sang" class="share-google" title="+1">
                          <i class="fab fa-google"></i>
                        </a>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


      <!-- 
        DANH MỤC SẢN PHẨM
       -->
    </div>
  </div>